<form action="{% url 'ticket' %}" method="post" class="ticket-form pop-form">
  <input type="text" name="name" class="ticket-form_input ticket-form_input__travel ticket-form__name__travel" placeholder="Ваше имя">
  <input type="text" name="email" class="ticket-form_input ticket-form_input__travel ticket-form__email__travel" placeholder="Ваш Email">
  <textarea name="comment" class="ticket-form_input ticket-form_input__travel ticket-form__text" placeholder="Сообщение"></textarea>
  <input type="submit" class="ticket-form_input ticket-form_submit" value="Оставить заявку">
</form>