body {
  background: #ccc;
}
::-webkit-input-placeholder {
  color: #fff;
}
::-moz-placeholder {
  color: #fff;
}
/* Firefox 19+ */
:-moz-placeholder {
  color: #fff;
}
/* Firefox 18- */
:-ms-input-placeholder {
  color: #fff;
}
#wrapper {
  width: 1280px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px #333;
  -moz-box-shadow: 0 0 10px #333;
  box-shadow: 0 0 10px #333;
  background-color: #fff;
}
label.error {
  display: none !important;
}
input.error {
  background-color: #dbc6c1;
}
section {
  position: relative;
}
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
.ticket-form {
  margin: 0 auto;
}
.ticket-form_input {
  margin: 0 auto 25px;
  display: block;
  height: 52px;
  width: 490px;
  text-align: center;
  border: 2px solid #fff;
  font-size: 27px;
  color: #fff;
  background-color: transparent;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.ticket-form_input__travel {
  color: #333;
  border-color: #333;
  /* Firefox 19+ */

  /* Firefox 18- */

}
.ticket-form_input__travel::-webkit-input-placeholder {
  color: #333;
}
.ticket-form_input__travel::-moz-placeholder {
  color: #333;
}
.ticket-form_input__travel:-moz-placeholder {
  color: #333;
}
.ticket-form_input__travel:-ms-input-placeholder {
  color: #333;
}
.ticket-form_submit {
  width: auto;
  max-width: 400px;
  text-decoration: none;
  font-size: 27px;
  line-height: 52px;
  padding: 0 40px;
  color: #000;
  background-color: #fbf317;
}
.ticket-form__name {
  background: url('../img/name.png') 27px 50% no-repeat;
}
.ticket-form__name__travel {
  background: url('../img/name_travel.png') 27px 50% no-repeat;
}
.ticket-form__phone {
  background: url('../img/phone.png') 27px 50% no-repeat;
}
.ticket-form__phone__travel {
  background: url('../img/phone_travel.png') 27px 50% no-repeat;
}
.ticket-form__text {
  height: 200px;
}
#pop {
  display: none;
}
.seats {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 30px;
  width: 260px;
  color: #fff;
}
.header {
  background: url('../img/header__bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 375px;
}
.header-h1 {
  padding-bottom: 190px;
  color: #fff;
  font-size: 72px;
  line-height: 1em;
  text-shadow: 1px 0 0 #000;
  text-align: center;
}
.header-form__title {
  color: #fff;
  font-size: 36px;
  text-align: center;
  line-height: 1.4em;
}
.block-1 {
  padding-bottom: 60px;
}
.block-1 img {
  width: 350px;
  position: absolute;
}
.block-1__left {
  left: 0;
  top: -30px;
}
.block-1__right {
  right: 20px;
  bottom: 10px;
}
.block-1__title {
  font-size: 60px;
  color: #000;
  line-height: 160px;
  text-align: center;
  text-transform: uppercase;
}
.block-1-ul {
  margin-left: 375px;
  list-style-image: url('../img/list-style-image.jpg');
}
.block-1-ul-li {
  padding-left: 20px;
  color: #333;
  font-size: 27px;
  line-height: 39px;
}
.day {
  -webkit-background-size: 100%;
  background-size: 100%;
  position: relative;
}
.day__title {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 45px;
  line-height: 120px;
  color: #fbf317;
}
.day-content {
  background: rgba(0, 0, 0, 0.5);
  width: 50%;
  padding-bottom: 80px;
}
.day-content__title {
  font-size: 45px;
  font-weight: bold;
  line-height: 200px;
  color: #fbf317;
  text-transform: uppercase;
  text-align: center;
}
.day-content-list {
  list-style-image: url('../img/list-style-image.jpg');
  margin-left: 50px;
}
.day-content-list__item {
  padding-left: 20px;
  color: #fff;
  font-size: 18px;
  line-height: 25px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
}
.day-content-list__item a {
  color: #fbf317;
  text-decoration: none;
}
.day-1 {
  background-image: url('../img/day-1.jpg');
}
.day-1-content {
  float: left;
}
.day-1-content__title {
  padding-top: 50px;
}
.day-2 {
  background-image: url('../img/day-2.jpg');
}
.day-2-content {
  float: right;
}
.day-3 {
  background-image: url('../img/day-3.jpg');
}
.day-3-content {
  float: left;
}
.day-4 {
  background-image: url('../img/day-4.jpg');
}
.day-4-content {
  float: right;
}
.day-5 {
  background-image: url('../img/day-5.jpg');
}
.day-5-content {
  float: left;
}
.day-6 {
  background-image: url('../img/day-6.jpg');
}
.day-6-content {
  float: right;
}
.day-7 {
  background-image: url('../img/day-7.jpg');
}
.day-7-content {
  padding-bottom: 0;
  float: left;
}
.day-7-content__title {
  padding-top: 50px;
}
.day-8 {
  background-image: url('../img/day-8.jpg');
}
.day-8-content {
  float: right;
}
.day-9 {
  background-image: url('../img/day-9.jpg');
}
.day-9-content {
  padding-bottom: 330px;
  float: left;
}
.block-2 {
  padding-top: 70px;
  padding-bottom: 180px;
  background: url('../img/block-2__bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}
.block-2-form__title {
  color: #fff;
  text-align: center;
  font-size: 48px;
  line-height: 60px;
  padding-bottom: 100px;
}
.block-3 {
  padding-bottom: 30px;
}
.block-3-content {
  width: 1200px;
  margin: 0 auto;
}
.block-3-content__title {
  color: #333;
  font-size: 60px;
  line-height: 150px;
  text-transform: uppercase;
  text-align: center;
}
.block-3-content-table {
  width: 100%;
  border: 0;
  margin-bottom: 10px;
}
.block-3-content-table tr {
  background: #fbf317;
  line-height: 50px;
}
.block-3-content-table td {
  padding-left: 20px;
  font-size: 27px;
}
.block-3-content-table-tr__title {
  background: #10100d !important;
  color: #fff;
  line-height: 70;
}
.block-3-content-ps {
  font-size: 20px;
  font-style: italic;
  line-height: 23px;
  margin-bottom: 100px;
}
.block-3-content__continue {
  font-size: 27px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 39px;
  text-align: center;
  margin-bottom: 60px;
}
.block-3-content-price_list {
  width: 50%;
  display: inline;
  float: left;
  padding-bottom: 20px;
}
.block-3-content-price_list__title {
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 50px;
  color: #333;
}
.block-3-content-price_list_icon {
  width: 100px;
  display: inline-block;
}
.block-3-content-price_list_icon__transfer {
  background: url('../img/icone/transfer.png') 0 50% no-repeat;
}
.block-3-content-price_list-ul {
  width: 600px;
  list-style: none;
}
.block-3-content-price_list-ul-li {
  padding-bottom: 15px;
}
.block-3-content-price_list-ul-li .icone-transfer {
  background: url('../img/icone/transfer.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-food_truck {
  background: url('../img/icone/food_truck.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-car {
  background: url('../img/icone/car.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-woman {
  background: url('../img/icone/woman.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-purse {
  background: url('../img/icone/purse.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-canoe {
  background: url('../img/icone/canoe.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-houses {
  background: url('../img/icone/houses.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-bottle {
  background: url('../img/icone/bottle.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-sim_cad {
  background: url('../img/icone/sim_card.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-domik {
  background: url('../img/icone/domik.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-crescent {
  background: url('../img/icone/crescent.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-airplane {
  background: url('../img/icone/airplane.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-visa {
  background: url('../img/icone/visa.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-med {
  background: url('../img/icone/med.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-alko {
  background: url('../img/icone/alko.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-drink {
  background: url('../img/icone/drink.png') no-repeat;
}
.block-3-content-price_list-ul-li .icone-coin {
  background: url('../img/icone/coin.png') no-repeat;
}
.block-3-content-price_list-ul-li p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  padding-left: 120px;
  min-height: 55px;
}
.map {
  position: relative;
}
.map__title {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: auto;
  padding: 0 70px;
  font-size: 36px;
  text-transform: uppercase;
  color: #333;
  background: #fbf317;
}
.block-4 {
  background: url('../img/block-4__bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding: 20px 0;
}
.block-4-header {
  text-align: center;
}
.block-4-header__title {
  display: inline-block;
  width: auto;
  padding: 0 20px;
  font-size: 60px;
  text-transform: uppercase;
  line-height: 1.2em;
  color: #333;
  background: #fbf317;
  margin-bottom: 30px;
}
.block-4-photo {
  display: inline-block;
  width: 30%;
  text-align: center;
  vertical-align: top;
}
.block-4-photo-wrapper__img {
  margin: 30px 0;
}
.block-4-photo-wrapper__name {
  font-size: 30px;
  line-height: 39px;
}
.block-4-description {
  display: inline-block;
  width: 65%;
}
.block-4-description__text {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 39px;
  margin-bottom: 60px;
}
.block-4-description-list {
  list-style: none;
}
.block-4-description-list__item-content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 39px;
}
.block-4-description__ps {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 39px;
}
.footer {
  background: url('../img/footer__bg.jpg') no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-top: 150px;
  padding-bottom: 260px;
}
.footer-form__title {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: 60px;
  margin-bottom: 80px;
}
