body {
  background: #ccc;
}
::-webkit-input-placeholder {color:#fff;}
::-moz-placeholder          {color:#fff;}/* Firefox 19+ */
:-moz-placeholder           {color:#fff;}/* Firefox 18- */
:-ms-input-placeholder      {color:#fff;}
#wrapper {
  width: 1280px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 10px #333;
     -moz-box-shadow: 0 0 10px #333;
          box-shadow: 0 0 10px #333;
  background-color: #fff;
  @media only screen and (max-width: 800px) {
    #wrapper {
      width: 720px;
    }
  }
}

label.error {
  display: none !important;
}
input.error {
  background-color: #dbc6c1;
}

section {
  position: relative;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.ticket-form {
  margin: 0 auto;

  &_input {
    margin: 0 auto 25px;
    display: block;
    height: 52px;
    width: 490px;
    text-align: center;
    border: 2px solid #fff;
    font-size: 27px;
    color: #fff;
    background-color: transparent;
    -webkit-border-radius: 30px;
       -moz-border-radius: 30px;
            border-radius: 30px;
    &__travel {
      color: #666;
      border-color: #666;
      &::-webkit-input-placeholder {color:#666;}
      &::-moz-placeholder          {color:#666;}/* Firefox 19+ */
      &:-moz-placeholder           {color:#666;}/* Firefox 18- */
      &:-ms-input-placeholder      {color:#666;}
    }
  }

  &_submit {
    width: auto;
    max-width: 400px;
    text-decoration: none;
    font-size: 27px;
    line-height: 52px;
    padding: 0 40px;
    color: #000;
    background-color: #fbf317;
  }

  &__name {
    background: url('../img/name.png') 27px 50% no-repeat;
    &__travel {
      background: url('../img/name_travel.png') 27px 50% no-repeat;
    }
  }

  &__email{
    background: url('../img/phone.png') 27px 50% no-repeat;
    &__travel {
      background: url('../img/phone_travel.png') 27px 50% no-repeat;
    }
  }

  &__text {
    height: 200px;
  }

}

#pop {
  display: none;
}

.seats {
  position: absolute;
  z-index: 2;
  top: 15px;
  right: 10px;
  width: 260px;
  color: #fff;
}
@media only screen and (max-width: 800px) {
  .seats {
    position: relative;
    float: right;
  }
}

.header {
  background-image: url('../img/header__bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 100px;
  padding-bottom: 375px;
  position: relative;
  &-h1 {
    padding-bottom: 190px;
    color: #fff;
    font-size: 72px;
    line-height: 1em;
    text-shadow: 1px 0 0 #000;
    text-align: center;
  }

  &-form {

    &__title {
      color: #fff;
      font-size: 36px;
      font-weight: bold;
      text-shadow: 0 0 1px #333;
      text-align: center;
      line-height: 1.4em;
      padding-bottom: 30px;
    }

  }

}

@media only screen and (max-width: 800px) {
  .header {
    padding-top: 10px;
    padding-bottom: 75px;
    background-position-x: 50%;
    -webkit-background-size: initial;
    background-size: initial;
    &-h1 {
      font-size: 45px;
    }
    &-form {
      &__title {
        padding-bottom: 100px;
      }
    }
  }
}


.block-1 {
  padding-bottom: 60px;
  img {
    width: 350px;
    position: absolute;
  }
  &__left {
    left: 0;
    top: -30px;
  }
  &__right {
    right: 20px;
    bottom: 10px;
  }
  &__title {
    font-size: 60px;
    color: #000;
    line-height: 160px;
    text-align: center;
    text-transform: uppercase;
  }
  &-ul {
    margin-left: 375px;
    list-style-image: url('../img/list-style-image.jpg');
    &-li {
      padding-left: 20px;
      color: #333;
      font-size: 27px;
      line-height: 39px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .block-1 {
    &__left {
      display: none;
    }
    &__right {
      display: none;
    }
    &__title {
      font-weight: bold;
    }
    &-ul {
      margin-left: 60px;
    }
  }
}

.day {
  -webkit-background-size: 100%;
        background-size: 100%;
  position: relative;
  height: 605px;
  &__title {
    position: absolute;
    z-index: 1;
    top: 0;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    line-height: 120px;
    color: #fbf317;
  }
  &-content {
    background: rgba(0, 0, 0, 0.5);
    width: 50%;
    height: 100%;
    &__title {
      font-size: 45px;
      font-weight: bold;
      line-height: 200px;
      color: #fbf317;
      text-transform: uppercase;
      text-align: center;
      &_mobile {
        display: none;
      }
    }
    &-list {
      list-style-image: url('../img/list-style-image.jpg');
      margin-left: 50px;
      width: 85%;
      text-align: justify;
      &__item {
        padding-left: 20px;
        color: #fff;
        font-size: 18px;
        line-height: 25px;
        padding-bottom: 25px;
        font-family: Arial, Helvetica, sans-serif;
        a {
          color: #fbf317;
          text-decoration: none;
        }
      }
    }
  }
  &-1 {
    background-image: url('../img/day-1.jpg');
    height: 784px;
    &-content {
      float: left;
      &__title {
        padding-top: 50px;
      }
    }
  }
  &-2 {
    background-image: url('../img/day-2.jpg');
    &-content {
      float: right;
    }
  }
  &-3 {
    background-image: url('../img/day-3.jpg');
    &-content {
      float: left;
      &__title {
        line-height: 160px;
      }
    }
  }
  &-4 {
    background-image: url('../img/day-4.jpg');
    &-content {
      float: right;
    }
  }
  &-5 {
    background-image: url('../img/day-5.jpg');
    &-content {
      float: left;
    }
  }
  &-6 {
    background-image: url('../img/day-6.jpg');
    &-content {
      float: right;
    }
  }
  &-7 {
    background-image: url('../img/day-7.jpg');
    &-content {
      padding-bottom: 0;
      float: left;
      &__title {
        padding-top: 50px;
      }
    }
  }
  &-8 {
    background-image: url('../img/day-8.jpg');
    &-content {
      float: right;
    }
  }
  &-9 {
    background-image: url('../img/day-9.jpg');
    &-content {
      padding-bottom: 330px;
      float: left;
    }
  }
}

@media only screen and (max-width: 800px) {
  .day {
    -webkit-background-size: cover;
            background-size: cover;
    background-position-x: 50%;
    height: 590px;
    &__title {
      position: relative;
      font-size: 18px;
      line-height: 3em;
      font-weight: bold;
    }
    &-content {
      width: 100%;
      padding-top: 20px;
      float: none;
      &__title {
        display: none;
        &_mobile {
          display: block;
          padding-left: 30px;
          font-weight: bold;
          font-size: 50px;
          text-transform: uppercase;
          text-align: center;
          text-shadow: 0 0 1px #000;
          line-height: 2em;
          color: #fbf317;
        }
      }
      &-list {
        margin-left: 60px;
      }
    }
  }
  .day-2 {
    ul {
      margin-top: 70px;
    }
  }
  .day-3 {
    ul {
      margin-top: 25px;
    }
  }
  .day-4 {
    ul {
      margin-top: 110px;
    }
  }
  .day-5 {
    ul {
      margin-top: 150px;
    }
  }
  .day-6 {
    ul {
      margin-top: 120px;
    }
  }
  .day-7 {
    background-position-x: 90%;
    ul {
      margin-top: 35px;
    }
  }
  .day-8 {
    ul {
        margin-top: 50px;
      }
  }
  .day-9 {
    ul {
        margin-top: 150px;
      }
  }
}

.block-2 {
  padding-top: 70px;
  padding-bottom: 180px;
  background: url('../img/block-2__bg.jpg') no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  &-form {
    &__title {
      color: #fff;
      text-align: center;
      text-shadow: 0 0 1px #000;
      font-size: 38px;
      font-weight: bold;
      line-height: 60px;
      padding-bottom: 100px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .block-2 {
    &-form {
      &__title {
        font-size: 20px;
        line-height: 2em;
        text-transform: uppercase;
        width: 90%;
        margin: 0 auto;
      }
    }
  }
}


.block-3 {
  padding-bottom: 30px;
  &-content {
    width: 90%;
    margin: 0 auto;
    &__title {
      color: #333;
      font-size: 60px;
      line-height: 150px;
      text-transform: uppercase;
      text-align: center;
    }
    &-table {
      width: 100%;
      border: 0;
      margin-bottom: 10px;
      tr {
        background: #fbf317;
        line-height: 50px;
      }
      td {
        padding-left: 20px;
        font-size: 27px;
      }
      &-tr {
        &__title {
          background: #10100d !important;
          color: #fff;
          line-height: 70;
        }
      }
    }
    &-ps {
      font-size: 20px;
      font-style: italic;
      line-height: 23px;
      margin-bottom: 100px;
    }
    &__continue {
      font-size: 27px;
      font-family: Arial, Helvetica, sans-serif;
      line-height: 39px;
      text-align: center;
      margin-bottom: 60px;
    }
    &-price_list {
      width: 50%;
      display: inline;
      float: left;
      padding-bottom: 20px;
      &__title {
        font-size: 48px;
        font-weight: bold;
        padding-bottom: 50px;
        color: #333;
      }
      &_icon {
        width: 100px;
        display: inline-block;
        &__transfer {
          background: url('../img/icone/transfer.png') 0 50% no-repeat;
        }
      }
      &-ul {
        width: 600px;
        list-style: none;
        &-li {
          padding-bottom: 15px;
          .icone {
            &-transfer {
              background: url('../img/icone/transfer.png') no-repeat;
            }
            &-food_truck {
              background: url('../img/icone/food_truck.png') no-repeat;
            }
            &-car {
              background: url('../img/icone/car.png') no-repeat;
            }
            &-woman {
              background: url('../img/icone/woman.png') no-repeat;
            }
            &-purse {
              background: url('../img/icone/purse.png') no-repeat;
            }
            &-canoe {
              background: url('../img/icone/canoe.png') no-repeat;
            }
            &-houses {
              background: url('../img/icone/houses.png') no-repeat;
            }
            &-bottle {
              background: url('../img/icone/bottle.png') no-repeat;
            }
            &-sim_cad {
              background: url('../img/icone/sim_card.png') no-repeat;
            }
            &-domik {
              background: url('../img/icone/domik.png') no-repeat;
            }
            &-crescent {
              background: url('../img/icone/crescent.png') no-repeat;
            }
            &-airplane {
              background: url('../img/icone/airplane.png') no-repeat;
            }
            &-visa {
              background: url('../img/icone/visa.png') no-repeat;
            }
            &-med {
              background: url('../img/icone/med.png') no-repeat;
            }
            &-alko {
              background: url('../img/icone/alko.png') no-repeat;
            }
            &-drink {
              background: url('../img/icone/drink.png') no-repeat;
            }
            &-coin {
              background: url('../img/icone/coin.png') no-repeat;
            }
          }
          p {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            line-height: 1.5em;
            padding-left: 120px;
            min-height: 55px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 800px) {
  .block-3 {
    &-content {
      &__title {
        line-height: 100px;
        font-size: 35px;
        font-weight: bold;
      }
      &-ps {
        width: 90%;
        margin: 0 auto;
      }
      &-price_list {
        width: 80%;
        display: block;
        margin: 0 auto;
        padding-bottom: 0;
        float: none;
        &__title {
          padding-bottom: 0;
          line-height: 120px;
          text-align: center;
        }
      }
    }
  }
}


.map {
  position: relative;
  &__title {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: auto;
    padding: 0 70px;
    font-size: 36px;
    text-transform: uppercase;
    color: #333;
    background: #fbf317;
  }
}
.block-4 {
  background: url('../img/block-4__bg.jpg') no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding: 20px 0;
  &-header {
    text-align: center;
    &__title {
      display: inline-block;
      width: auto;
      padding: 0 20px;
      font-size: 60px;
      text-transform: uppercase;
      line-height: 1.2em;
      color: #333;
      background: #fbf317;
      margin-bottom: 30px;
    }
  }
  &-photo {
    display: inline-block;
    width: 30%;
    text-align: center;
    vertical-align: top;
    &-wrapper{
      &__img {
        width: 320px;
        -webkit-border-radius: 320px;
           -moz-border-radius: 320px;
                border-radius: 320px;
        margin: 30px 0;
      }
      &__name {
        font-size: 30px;
        line-height: 39px;
      }
    }
  }
  &-description {
    display: inline-block;
    width: 65%;
    &__text {
      color: #333;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 39px;
      margin-bottom: 60px;
    }
    .icone {
      &-browser {
        background: url('../img/icone/browser.png') no-repeat;
      }
      &-aircraft {
        background: url('../img/icone/aircraft.png') no-repeat;
      }
      &-umbrella {
        background: url('../img/icone/umbrella.png') no-repeat;
      }
      &-camera {
        background: url('../img/icone/camera.png') no-repeat;
      }
    }

    &-list {
      list-style: none;
      &__item {
        &-content {
          padding-left: 60px;
          min-height: 50px;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 20px;
          line-height: 39px;
        }
      }
    }
    &__ps {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      line-height: 39px;
      text-align: center;
    }
  }
}
@media only screen and (max-width: 800px) {
  .block-4 {
    &-photo {
      display: block;
      width: 100%;
    }
    &-description {
      display: block;
      width: 80%;
      margin: 0 auto;
      &__text {
        text-align: justify;
      }
    }
  }
}

.footer {
  background: url('../img/footer__bg.jpg') no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  padding-top: 150px;
  padding-bottom: 260px;
  &-form {
    &__title {
      color: #fff;
      text-align: center;
      text-transform: uppercase;
      font-size: 60px;
      margin-bottom: 80px;
    }
  }
}
@media only screen and (max-width: 800px) {
  .footer {
    &-form {
      &__title {
        font-size: 50px;
        font-weight: bold;
      }
    }
  }
}

#scrollup {
  position: fixed; /* фиксированная позиция */
  opacity: 0.8; /* прозрачность */
  padding: 15px 10px 10px; /* отступы */
  background: #aaa;
  border-radius: 5px; /* скругление углов */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  right: 10px; /* отступ слева */
  bottom: 10px; /* отступ снизу */
  display: none; /* спрятать блок */
  cursor: pointer;
}